<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-02-18T21:43:35Z</date>
	<key>WorkspacePath</key>
	<string>/Users/arshmalik/Documents/Projects/CS32-Projects/Homeworks/hw4/hw4q3c/hw4q3c.xcodeproj</string>
</dict>
</plist>
